#navbar-app a{
  color: black;
}

#navbar-app .nav-item{
	margin-right: 10px;
}

#modul-content{
	margin-top: 40px;
}

#modul-content .btn-center{
	margin:auto;
}

#modul-content .add-10-margin{
	margin:10px;
}

#modul-content .img-btn{
	margin-top: 10px;
}

.konten-cont{
	display: flex;
}

.editor-wrap{
	flex: 1;
}
#konten-area{
	/*overflow: scroll;
	word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: nowrap;
    word-wrap: break-word;
  	word-break: break-all;*/
  	overflow: scroll;
  	word-wrap: break-word;
  	word-break: break-all;
	height: 700px;
	margin: 10px;
	border: 1px solid #ccc;
    padding: 5px;
}

.konten-img{
	width: auto;
	height: auto;
	display: block;
  	max-width:200px;
  	max-height:200px;
  	margin: auto;
}